{% extends 'base.html' %}


{% block container %}
<div class="col-md-8 col-md-offset-2 portfolio-content text-center">
    <h1 class="blog-title">Telegraph galeries script</h1>
    <figure class="top_45 bottom_45">
        <img src="/static/images/portfolio-content/image-3.png" alt=""
             style="width: 100%; max-width: 700px; display: block; margin: auto;">
    </figure>
    <figure class="top_45 bottom_45">
        <img src="/static/images/portfolio-content/image-3-1.png" alt=""
             style="width: 100%; max-width: 700px; display: block; margin: auto;">
    </figure>
    <div class="section-title bottom_30"><span></span>
        <h2>About Project</h2></div>
    <p class="font-16">This is a script designed to create galleries on the telegra.ph service, which is used to write articles and post
        them on the Internet. My script is useful for owners of telegram channels who publish media content daily.
    </p>
    <button class="site-btn top_15 bottom_30 user-select-none"><a class="black-link"
                                                                  href="https://github.com/haldaniko/Telegra.ph-gallery-script">Github
        cource</a></button>
</div>
{% endblock %}
