{% extends 'base.html' %}


{% block container %}
<div class="col-md-8 col-md-offset-2 portfolio-content text-center">
    <h1 class="blog-title">Portfolio Website</h1>
    <figure class="top_45 bottom_45">
        <img src="/static/images/portfolio-content/image-6.png" alt=""
             style="width: 100%; max-width: 700px; display: block; margin: auto;">
    </figure>
    <div class="section-title bottom_30"><span></span>
        <h2>About Project</h2></div>
    <p class="font-16">Actually this website. The template was downloaded from the Internet and is used under a free license. I
        corrected some elements, added jinja2 templating and Flask (Python framework) application logic.
    </p>
    <button class="site-btn top_15 bottom_30 user-select-none"><a class="black-link"
                                                                  href="https://github.com/haldaniko/portfolio-Website">Github
        cource</a></button>
</div>
{% endblock %}
