{% extends 'base.html' %}


{% block container %}
<div class="col-md-8 col-md-offset-2 portfolio-content text-center">
    <h1 class="blog-title">Tutor Choice Website</h1>
    <figure class="top_45 bottom_45">
        <img src="/static/images/portfolio-content/image-4.png" alt=""
             style="width: 100%; max-width: 700px; display: block; margin: auto;">
    </figure>
    <div class="section-title bottom_30"><span></span>
        <h2>About Project</h2></div>
    <p class="font-16">The website is written as a part of training course using ready-made HTML template. My task was to write web
        application logic using the Flask framework, and set up templating using Jijna2. I also wrote the logic
        for processing forms and writing the received data to a json file.
    </p>
    <button class="site-btn top_15 bottom_30 user-select-none"><a class="black-link"
                                                                  href="https://github.com/haldaniko/TutorChoice-Website">Github
        cource</a></button>
</div>
{% endblock %}
