{% extends 'base.html' %}


{% block container %}
  <div id="content" class="panel-container">

    <div id="home">
      <div class="row">
        <section class="about-me line col-md-12 padding_30 padbot_45">
          <div class="section-title"><span></span>
            <h2>About Me</h2></div>
          <p class="font-16 top_30">Hello there! 👋 I'm Daniil, a 21-year-old aspiring programmer originally
            from Ukraine, currently navigating the world of technology and languages in Germany.<br><br>

            By day, I'm a devoted student at <a href="https://mate.academy/en">Mate Academy</a>.
            My toolbox includes Python (with some frameworks), SQL, Linux, HTML, CSS, and Git.
            Beyond coding, I have successfully completed a B2 level course in German,
            passed the exam, and obtained the certificate. Additionally,
            I am advancing my proficiency in English.<br><br>

            This website serves as my digital canvas for my development as an aspiring programmer and I am
            constantly updating and improving it.<br><br>

            Visit my portfolio and certificates pages to check out my projects and certificates from online
            courses.<br><br>

            I'm open to job offers or internships! :)
          </p>
        </section>
      </div>
      <div class="row">
        <section class="services line graybg col-md-12">
          <div class="row">
            <section class="code-skills col-md-6 padding_60 padbot_50">
              <div class="section-title bottom_45"><span></span>
                <h2>Skills</h2></div>
              <ul class="skill-list">
                <li>
                  <h3>Python</h3>
                  <div class="progress">
                    <div class="percentage" style="width:70%;"></div>
                  </div>
                </li>
                <li>
                  <h3>Linux</h3>
                  <div class="progress">
                    <div class="percentage" style="width:40%;"></div>
                  </div>
                </li>
                <li>
                  <h3>MySQL</h3>
                  <div class="progress">
                    <div class="percentage" style="width:40%;"></div>
                  </div>
                </li>
                <li>
                  <h3>HTML</h3>
                  <div class="progress">
                    <div class="percentage" style="width:70%;"></div>
                  </div>
                </li>
                <li>
                  <h3>CSS</h3>
                  <div class="progress">
                    <div class="percentage" style="width:40%;"></div>
                  </div>
                <li>
                  <h3>Git</h3>
                  <div class="progress">
                    <div class="percentage" style="width:40%;"></div>
                  </div>
                </li>
                </li>
              </ul>
            </section>

            <section class="code-skills col-md-6 padding_60">
              <div class="section-title bottom_45"><span></span>
                <h2>Languages</h2></div>
              <ul class="skill-list">
                <li>
                  <h3>English (B2)</h3>
                  <div class="progress">
                    <div class="percentage" style="width:65%;"></div>
                  </div>
                </li>
                <li>
                  <h3>German (B2)</h3>
                  <div class="progress">
                    <div class="percentage" style="width:65%;"></div>
                  </div>
                </li>
                <li>
                  <h3>Ukrainian (Native)</h3>
                  <div class="progress">
                    <div class="percentage" style="width:100%;"></div>
                  </div>
                </li>
                <li>
                  <h3>Russian (Native)</h3>
                  <div class="progress">
                    <div class="percentage" style="width:100%;"></div>
                  </div>
                </li>
              </ul>
            </section>
          </div>
        </section>
      </div>
    </div>
  </div>
{% endblock %}