{% extends 'website/base.html' %}

{% block container %}
  <div id="resume">
    <div class="row">
      <section class="education">
        <div class="section-title top_30"><span></span>
          <h2>Resume</h2></div>
        <div class="row">
          <div class="working-history col-md-6 padding_15 padbot_30">
            <ul class="timeline col-md-12 top_30">
              <li><i class="fa fa-suitcase" aria-hidden="true"></i>
                <h2 class="timeline-title">Working History</h2></li>
              <li><h3 class="line-title">Trainee - <a target="_blank" href="https://acadon.net/">Acadon AG</a></h3>
                <span>Feb 2024 - Mar 2024<br>Krefeld, Germany</span>
                <p class="little-text">Internship at a company specializing in accounting systems.
                  Gained hands-on experience with Microsoft AL and Git.</p>
              </li>
              <li><h3 class="line-title">Service Crew - <a target="_blank"
                                                           href="https://www.mcdonalds.com/de/de-de.html">
                McDonald's</a></h3>
                <span>Oct 2023 - Feb 2024<br>Krefeld, Germany</span>
                <p class="little-text">Responsibilities include greeting customers
                  with a smile, taking orders, preparing and delivering food,
                  maintaining cleanliness, and working as part of a team.</p>
              </li>
              <li><h3 class="line-title">Secretary - LLC "Artmedia"</h3>
                <span>Feb 2021 - Feb 2022<br>Kyiv, Ukraine</span>
                <p class="little-text">Managing financial statements and tax
                  returns, preparing working estimates, and handling all necessary
                  documentation for the video production team servicing Ukrainian
                  TV channels.
                </p>
              </li>
              <li><h3 class="line-title">Live Sound Engineer - Freelance</h3>
                <span>Dec 2017 - Feb 2021<br>Kyiv, Ukraine</span>
                <p class="little-text">Providing musical accompaniment for various
                  occasions, including holidays, birthdays, weddings, and
                  corporate events.
                </p>
              </li>
            </ul>
          </div>
          <div class="education-history col-md-6 padding_15 padbot_30">
            <ul class="timeline col-md-12 top_30">
              <li><i class="fa fa-graduation-cap" aria-hidden="true"></i>
                <h2 class="timeline-title">Education History</h2></li>
              <li>
                <h3 class="line-title">
                  <a target="_blank" href="https://mate.academy/en">
                    Mate Academy</a>
                </h3>
                <span>Mar 2024 - Present</span>
                <p class="little-text">
                  Python Programming course<br></p>
              </li>
              <li>
                <h3 class="line-title">
                  <a target="_blank" href="https://www.lernart-krefeld.de/berufssprachkurse-deuf%C3%B6/">
                    LernArt GmbH
                  </a>
                </h3>
                <span>Jun 2023 - Dec 2023</span>
                <p class="little-text">
                  German language course<br>
                  Grade: Certified B2</p>
              </li>
              <li><h3 class="line-title"><a target="_blank" href="https://www.nestor-bildung.de/">
                Nestor Bildungsinstitut GmbH</a></h3>
                <span>Oct 2022 - Mar 2023</span>
                <p class="little-text">
                  German language course<br>
                  Grade: Certified B1</p>
              </li>
              <!-- a school -->
              <li><h3 class="line-title"><a target="_blank" href="https://chubynsky.best/ua/akademiya-sogodni.html">
                Pavlo Chubynsky Academy of Arts</a></h3>
                <span>Sep 2017 - Jun 2019</span>
                <p class="little-text">Secondary vocational education,
                  Music Pedagogy</p>
              </li>
              <!-- a school -->
              <li><h3 class="line-title">Irpin Lyceum №2</h3>
                <span>Sep 2008 - May 2017</span>
                <p class="little-text">Secondary education</p>
              </li>
            </ul>
          </div>
        </div>
      </section>
    </div>
  </div>
{% endblock %}