{% load static %}


<div class="col-lg-3 col-md-4">
  <div class="profile">
    <div class="profile-name">
      <span>Daniil Halytskyi</span><br>
      <span class="job">Python Developer</span>
    </div>
    <figure class="profile-image">
      <img src="{% static 'images/avatar.png' %}" alt="">
    </figure>
    <ul class="profile-information">
      <li></li>
      <li><p><span>Birthday:</span> 22 July 2002</p></li>
      <li><span>City:</span> <a href="https://maps.app.goo.gl/NxjzYMBPJiJpfMwaA" target="_blank">Krefeld</a></li>
      <li><span>Phone (DE):</span> <a href="tel:+4917627169632">+49-157-50674009</a></li>
      <li><span>Phone (UA):</span> <a href="tel:+380972964484">+38-097-2964484</a></li>
      <li><span>Email:</span> <a href="mailto:haldaniko@gmail.com" target="_blank">haldaniko@gmail.com</a>
      </li>
    </ul>
    <div class="col-md-12">
      <a target="_blank" class="black-link user-select-none" href="{% url 'website:document' 'CV. Daniil Halytskyi. Python Developer' %}">
        <button class="site-btn icon">Download CV<i class="fa fa-download" aria-hidden="true"></i></button>
      </a>

    </div>
  </div>
</div>
