<div class="row">
  <header class="col-md-12">
    <nav>
      <div class="row">
        <div class="col-md-8 col-sm-8 col-xs-4">
          <ul class="tabs">
            <li class="tab">
              <a class="home-btn" href="/"><i class="fa fa-home" aria-hidden="true"></i></a>
            </li>
            <li class="tab"><a href="/resume">RESUME</a></li>
            <li class="tab"><a href="/portfolio">PORTFOLIO</a></li>
            <li class="tab"><a href="/certificates">CERTIFICATES</a></li>
            <li class="tab"><a href="/contact">CONTACT</a></li>
          </ul>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-8 dynamic">
          <a target="_blank" class="black-link telegram" href="https://t.me/Haldwork">
            <button class="pull-right site-btn icon hidden-xs">
              Hire me!<i class="fa fa-paper-plane" aria-hidden="true"></i>
            </button>
          </a>
          <div class="hamburger pull-right hidden-lg hidden-md"><i class="fa fa-bars"
                                                                   aria-hidden="true"></i></div>
          <div class="hidden-md social-icons pull-right">
            <a target="_blank" class="fb" href="https://www.facebook.com/haldaniko/"><i
                class="fa fa-facebook" aria-hidden="true"></i></a>
            <a target="_blank" class="github" href="https://github.com/haldaniko"><i
                class="fa fa-github" aria-hidden="true"></i></a>
            <a target="_blank" class="linkedin" href="https://www.linkedin.com/in/haldaniko/"><i
                class="fa fa-linkedin" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </nav>
  </header>
</div>