{% extends 'base.html' %}


{% block container %}
<!-- Page Content -->
<div class="col-md-12">
    <div id="content" class="panel-container">

        <!-- Home Page
        ================================================== -->
        <div id="home">
            <!-- Text Section -->
            <div class="row">
                <section class="about-me line col-md-12 padding_30 padbot_45">
                    <div class="section-title"><span></span>
                        <h2>About Me</h2></div>
                    <p class="font-16 top_30">Hello there! 👋 I'm Daniil, a 21-year-old aspiring programmer originally
                        from Ukraine, currently navigating the world of technology and languages in Germany.<br><br>

                        By day, I'm a devoted student at <a href="https://mate.academy/en">Mate Academy</a>.
                        My toolbox includes Python (with some frameworks), SQL, Linux, HTML, CSS, and Git.
                        Beyond coding, I have successfully completed a B2 level course in German,
                        passed the exam, and obtained the certificate. Additionally,
                        I am advancing my proficiency in English.<br><br>

                        This website serves as my digital canvas for my development as an aspiring programmer and I am
                        constantly updating and improving it.<br><br>

                        Visit my portfolio and certificates pages to check out my projects and certificates from online
                        courses.<br><br>

                        I'm open to job offers or internships! :)
                    </p>
                </section>
            </div>
            <!-- Skills  Section -->
            <div class="row">
                <section class="services line graybg col-md-12">
                    <div class="row">
                        <section class="code-skills col-md-6 padding_60 padbot_50">
                            <div class="section-title bottom_45"><span></span>
                                <h2>Skills</h2></div>
                            <ul class="skill-list">
                                <li>
                                    <h3>Python</h3>
                                    <div class="progress">
                                        <div class="percentage" style="width:70%;"></div>
                                    </div>
                                </li>
                                <li>
                                    <h3>Linux</h3>
                                    <div class="progress">
                                        <div class="percentage" style="width:40%;"></div>
                                    </div>
                                </li>
                                <li>
                                    <h3>MySQL</h3>
                                    <div class="progress">
                                        <div class="percentage" style="width:40%;"></div>
                                    </div>
                                </li>
                                <li>
                                    <h3>HTML</h3>
                                    <div class="progress">
                                        <div class="percentage" style="width:70%;"></div>
                                    </div>
                                </li>
                                <li>
                                    <h3>CSS</h3>
                                    <div class="progress">
                                        <div class="percentage" style="width:40%;"></div>
                                    </div>
                                <li>
                                    <h3>Git</h3>
                                    <div class="progress">
                                        <div class="percentage" style="width:40%;"></div>
                                    </div>
                                </li>
                                </li>
                            </ul>
                        </section>

                        <section class="code-skills col-md-6 padding_60">
                            <div class="section-title bottom_45"><span></span>
                                <h2>Languages</h2></div>
                            <ul class="skill-list">
                                <li>
                                    <h3>English (B2)</h3>
                                    <div class="progress">
                                        <div class="percentage" style="width:65%;"></div>
                                    </div>
                                </li>
                                <li>
                                    <h3>German (B2)</h3>
                                    <div class="progress">
                                        <div class="percentage" style="width:65%;"></div>
                                    </div>
                                </li>
                                <li>
                                    <h3>Ukrainian (Native)</h3>
                                    <div class="progress">
                                        <div class="percentage" style="width:100%;"></div>
                                    </div>
                                </li>
                                <li>
                                    <h3>Russian (Native)</h3>
                                    <div class="progress">
                                        <div class="percentage" style="width:100%;"></div>
                                    </div>
                                </li>
                            </ul>
                        </section>
                    </div>
                </section>
            </div>
        </div>

        <!-- Resume Page
        ================================================== -->
        <div id="resume">
            <!-- Resume Section -->
            <div class="row">
                <section class="education">
                    <div class="section-title top_30"><span></span>
                        <h2>Resume</h2></div>
                    <div class="row">
                        <!-- Working History -->
                        <div class="working-history col-md-6 padding_15 padbot_30">
                            <ul class="timeline col-md-12 top_30">
                                <li><i class="fa fa-suitcase" aria-hidden="true"></i>
                                    <h2 class="timeline-title">Working History</h2></li>
                                <!-- a work -->
                                <li><h3 class="line-title">Trainee - <a target="_blank" href="https://acadon.net/">Acadon AG</a></h3>
                                    <span>Feb 2024 - Mar 2024<br>Krefeld, Germany</span>
                                    <p class="little-text">Internship at a company specializing in accounting systems.
                                        Gained hands-on experience with Microsoft AL and Git.</p>
                                </li>
                                <li><h3 class="line-title">Service Crew - <a target="_blank" href="https://www.mcdonalds.com/de/de-de.html">
                                    McDonald's</a></h3>
                                    <span>Oct 2023 - Feb 2024<br>Krefeld, Germany</span>
                                    <p class="little-text">Responsibilities include greeting customers
                                        with a smile, taking orders, preparing and delivering food,
                                        maintaining cleanliness, and working as part of a team.</p>
                                </li>
                                <!-- a work -->
                                <li><h3 class="line-title">Secretary - LLC "Artmedia"</h3>
                                    <span>Feb 2021 - Feb 2022<br>Kyiv, Ukraine</span>
                                    <p class="little-text">Managing financial statements and tax
                                        returns, preparing working estimates, and handling all necessary
                                        documentation for the video production team servicing Ukrainian
                                        TV channels.
                                    </p>
                                </li>
                                <!-- a work -->
                                <li><h3 class="line-title">Live Sound Engineer - Freelance</h3>
                                    <span>Dec 2017 - Feb 2021<br>Kyiv, Ukraine</span>
                                    <p class="little-text">Providing musical accompaniment for various
                                        occasions, including holidays, birthdays, weddings, and
                                        corporate events.
                                    </p>
                                </li>
                            </ul>
                        </div>
                        <!-- Education History -->
                        <div class="education-history col-md-6 padding_15 padbot_30">
                            <ul class="timeline col-md-12 top_30">
                                <li><i class="fa fa-graduation-cap" aria-hidden="true"></i>
                                    <h2 class="timeline-title">Education History</h2></li>
                                <!-- a school -->
                                <li><h3 class="line-title"><a target="_blank" href="https://mate.academy/en">Mate Academy</a></h3>
                                    <span>Mar 2024 - Present</span>
                                    <p class="little-text">
                                        Python Programming course<br></p>
                                </li>


                                <li><h3 class="line-title"><a target="_blank" href="https://www.lernart-krefeld.de/berufssprachkurse-deuf%C3%B6/">
                                    LernArt GmbH</a></h3>
                                    <span>Jun 2023 - Dec 2023</span>
                                    <p class="little-text">
                                        German language course<br>
                                        Grade: Certified B2</p>
                                </li>
                                <!-- a school -->
                                <li><h3 class="line-title"><a target="_blank" href="https://www.nestor-bildung.de/">
                                    Nestor Bildungsinstitut GmbH</a></h3>
                                    <span>Oct 2022 - Mar 2023</span>
                                    <p class="little-text">
                                        German language course<br>
                                        Grade: Certified B1</p>
                                </li>
                                <!-- a school -->
                                <li><h3 class="line-title"><a target="_blank" href="https://chubynsky.best/ua/akademiya-sogodni.html">
                                    Pavlo Chubynsky Academy of Arts</a></h3>
                                    <span>Sep 2017 - Jun 2019</span>
                                    <p class="little-text">Secondary vocational education,
                                        Music Pedagogy</p>
                                </li>
                                <!-- a school -->
                                <li><h3 class="line-title">Irpin Lyceum №2</h3>
                                    <span>Sep 2008 - May 2017</span>
                                    <p class="little-text">Secondary education</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <!-- Portfolio Page
        ================================================== -->
        <div id="portfolio" class="row bottom_45">
            <section class="col-md-12">
                <div class="col-md-12 content-header bottom_15">
                    <div class="section-title top_30 bottom_30"><span></span>
                        <h2>Portfolio</h2></div>
                    <div class="filters-container portfolio-filter">
                        <!-- '*' means shows all item elements -->
                        <div data-filter="*" class="user-select-none cbp-filter-item cbp-filter-item-active">All</div>
                        <div data-filter=".websites" class="user-select-none cbp-filter-item">Web sites</div>
                        <div data-filter=".chatbots" class="user-select-none cbp-filter-item">Chat bots</div>
                        <div data-filter=".scripts" class="user-select-none cbp-filter-item">Scripts</div>
                    </div>
                </div>
                <div class="grid-container top_60 portfolio">
                    <!-- a work 1 -->
                    <div class="cbp-item websites">
                        <a href="/portfolio/project-1">
                            <figure>
                                <div class="icon">
                                    <i class="fa fa-clone" aria-hidden="true"></i>
                                </div>
                                <img src="/static/images/portfolio-content/image-1.png" alt="">
                                <figcaption>
                                    <span class="title">Travel agency Website</span><br/>
                                    <span class="info">Several pages with descriptions of tours, hotels and their ratings.</span>
                                </figcaption>
                            </figure>
                        </a>
                    </div>

                    <!-- a work 2 -->
                    <div class="cbp-item chatbots">
                        <a href="/portfolio/project-2">
                            <figure>
                                <div class="icon">
                                    <i class="fa fa-clone" aria-hidden="true"></i>
                                </div>
                                <img src="/static/images/portfolio-content/tg-bot.png" alt="">
                                <figcaption>
                                    <span class="title">Telegram bot QR codes</span><br/>
                                    <span class="info">Helps in creating QR codes and decoding them</span>
                                </figcaption>
                            </figure>
                        </a>
                    </div>

                    <!-- a work 3 -->
                    <div class="cbp-item scripts">
                        <a href="/portfolio/project-3">
                            <figure>
                                <div class="icon">
                                    <i class="fa fa-clone" aria-hidden="true"></i>
                                </div>
                                <img src="/static/images/portfolio-content/script.png" alt="">
                                <figcaption>
                                    <span class="title">Telegraph galeries script</span><br/>
                                    <span class="info">Helps create picture galleries on the telegra.ph service.</span>
                                </figcaption>
                            </figure>
                        </a>
                    </div>

                    <!-- a work 4 -->
                    <div class="cbp-item websites">
                        <a href="/portfolio/project-4">
                            <figure>
                                <div class="icon">
                                    <i class="fa fa-clone" aria-hidden="true"></i>
                                </div>
                                <img src="/static/images/portfolio-content/image-4.png" alt="">
                                <figcaption>
                                    <span class="title">Tutor Choice Website</span><br/>
                                    <span class="info">A site that allows user to choose an English tutor and study online.</span>
                                </figcaption>
                            </figure>
                        </a>
                    </div>

                    <!-- a work 5 -->
                    <div class="cbp-item chatbots">
                        <a href="/portfolio/project-5">
                            <figure>
                                <div class="icon">
                                    <i class="fa fa-clone" aria-hidden="true"></i>
                                </div>
                                <img src="/static/images/portfolio-content/tg-bot.png" alt="">
                                <figcaption>
                                    <span class="title">Orientirungskurs Bot</span><br/>
                                    <span class="info">Bot for help students of the course "Life in Germany"</span>
                                </figcaption>
                            </figure>
                        </a>
                    </div>

                    <!-- a work 6 -->
                    <div class="cbp-item websites">
                        <a href="/portfolio/project-6">
                            <figure>
                                <div class="icon">
                                    <i class="fa fa-clone" aria-hidden="true"></i>
                                </div>
                                <img src="/static/images/portfolio-content/image-6.png" alt="">
                                <figcaption>
                                    <span class="title">Portfolio Website</span><br/>
                                    <span class="info">Personal website representing me as a professional</span>
                                </figcaption>
                            </figure>
                        </a>
                    </div>

                </div>
            </section>
        </div>

        <!-- Certificates Page
        ================================================== -->
        <div id="certificates" class="row bottom_45">
            <section class="col-md-12">
                <div class="col-md-12 content-header bottom_15">
                    <div class="section-title top_30 bottom_30"><span></span>
                        <h2>Certificates</h2></div>
                    <div class="filters-container certificates-filter">
                        <!-- '*' means shows all item elements -->
                        <div data-filter="*"
                             class="cbp-filter-item cbp-filter-item-active user-select-none">All
                        </div>
                        <div data-filter=".linux" class="cbp-filter-item user-select-none">Linux</div>
                        <div data-filter=".python" class="cbp-filter-item user-select-none">Python</div>
                        <div data-filter=".sql" class="cbp-filter-item user-select-none">SQL</div>
                        <div data-filter=".web" class="cbp-filter-item user-select-none">Web</div>
                        <div data-filter=".language" class="cbp-filter-item user-select-none">Language</div>
                    </div>
                </div>
                <div class="grid-container top_60 certificates">
                    <!-- certificate 9 -->
                    <div class="cbp-item linux">
                        <a href="/static/images/certificates/9.png" class="cbp-lightbox">
                            <figure>
                                <div class="icon">
                                    <i class="fa fa-picture-o" aria-hidden="true"></i>
                                </div>
                                <img src="/static/images/certificates/9.png" alt="">
                            </figure>
                        </a>
                        <figcaption>
                            <span class="title">Introduction to Linux</span><br/>
                            <a target="_blank"
                               href="https://stepik.org/certificate/c5b4d1568644024a34ae7fa4545197b134f958c8.pdf?language=en"
                               class="external-link show-credential-button">Show credential</a>
                        </figcaption>
                    </div>
                    <!-- certificate 8 -->
                    <div class="cbp-item web">
                        <a href="/static/images/certificates/8.png" class="cbp-lightbox">
                            <figure>
                                <div class="icon">
                                    <i class="fa fa-picture-o" aria-hidden="true"></i>
                                </div>
                                <img src="/static/images/certificates/8.png" alt="">
                            </figure>
                        </a>
                        <figcaption>
                            <span class="title">Web Development</span><br/>
                            <a target="_blank" href="https://www.sololearn.com/certificates/CC-UJT9GP9W"
                               class="show-credential-button">Show credential</a>
                        </figcaption>
                    </div>
                    <!-- certificate 7 -->
                    <div class="cbp-item sql">
                        <a href="/static/images/certificates/7.png" class="cbp-lightbox">
                            <figure>
                                <div class="icon">
                                    <i class="fa fa-picture-o" aria-hidden="true"></i>
                                </div>
                                <img src="/static/images/certificates/7.png" alt="">
                            </figure>
                        </a>
                        <figcaption>
                            <span class="title">SQL Intermidiate</span><br/>
                            <a target="_blank" href="https://www.sololearn.com/certificates/CC-4IBLEYN9"
                               class="show-credential-button">Show credential</a>
                        </figcaption>
                    </div>
                    <!-- certificate 6 -->
                    <div class="cbp-item python">
                        <a href="/static/images/certificates/6.png" class="cbp-lightbox">
                            <figure>
                                <div class="icon">
                                    <i class="fa fa-picture-o" aria-hidden="true"></i>
                                </div>
                                <img src="/static/images/certificates/6.png" alt="">
                            </figure>
                        </a>
                        <figcaption>
                            <span class="title">Python Data Structures</span><br/>
                            <a target="_blank" href="https://www.sololearn.com/certificates/CT-QAPCJO6W"
                               class="show-credential-button">Show credential</a>
                        </figcaption>
                    </div>
                    <!-- certificate 5 -->
                    <div class="cbp-item python">
                        <a href="/static/images/certificates/5.png" class="cbp-lightbox">
                            <figure>
                                <div class="icon">
                                    <i class="fa fa-picture-o" aria-hidden="true"></i>
                                </div>
                                <img src="/static/images/certificates/5.png" alt="">
                            </figure>
                        </a>
                        <figcaption>
                            <span class="title">"Python Generation": for advanced</span><br/>
                            <a target="_blank"
                               href="https://stepik.org/certificate/5edf9c46099b45e1464734fbd99f5106151b3e90.pdf?language=en"
                               class="show-credential-button">Show credential</a>
                        </figcaption>
                    </div>
                    <!-- certificate 4 -->
                    <div class="cbp-item python">
                        <a href="/static/images/certificates/4.png" class="cbp-lightbox">
                            <figure>
                                <div class="icon">
                                    <i class="fa fa-picture-o" aria-hidden="true"></i>
                                </div>
                                <img src="/static/images/certificates/4.png" alt="">
                            </figure>
                        </a>
                        <figcaption>
                            <span class="title">Python (Basic)</span><br/>
                            <a target="_blank"
                               href="https://www.hackerrank.com/certificates/e436b7aec7a2"
                               class="show-credential-button">Show credential</a>
                        </figcaption>
                    </div>
                    <!-- certificate 3 -->
                    <div class="cbp-item sql">
                        <a href="/static/images/certificates/3.png" class="cbp-lightbox">
                            <figure>
                                <div class="icon">
                                    <i class="fa fa-picture-o" aria-hidden="true"></i>
                                </div>
                                <img src="/static/images/certificates/3.png" alt="">
                            </figure>
                        </a>
                        <figcaption>
                            <span class="title">SQL (Basic)</span><br/>
                            <a target="_blank"
                               href="https://www.hackerrank.com/certificates/5c32341ab6bc"
                               class="show-credential-button">Show credential</a>
                        </figcaption>
                    </div>
                    <!-- certificate 2 -->
                    <div class="cbp-item python">
                        <a href="/static/images/certificates/2.png" class="cbp-lightbox">
                            <figure>
                                <div class="icon">
                                    <i class="fa fa-picture-o" aria-hidden="true"></i>
                                </div>
                                <img src="/static/images/certificates/2.png" alt="">
                            </figure>
                        </a>
                        <figcaption>
                            <span class="title">"Python Programming"</span><br/>
                            <a target="_blank"
                               href="https://stepik.org/certificate/63966dfc2f2d9cf95bdad14631f1d40a7a9fac38.pdf?language=en"
                               class="show-credential-button">Show credential</a>
                        </figcaption>
                    </div>
                    <!-- certificate 1 -->
                    <div class="cbp-item python">
                        <a href="/static/images/certificates/1.png" class="cbp-lightbox">
                            <figure>
                                <div class="icon">
                                    <i class="fa fa-picture-o" aria-hidden="true"></i>
                                </div>
                                <img src="/static/images/certificates/1.png" alt="">
                            </figure>
                        </a>
                        <figcaption>
                            <span class="title">"Python Generation": for beginners</span><br/>
                            <a target="_blank" href="https://stepik.org/cert/887135?lang=en"
                               class="show-credential-button">Show credential</a>
                        </figcaption>
                    </div>
                    <!-- certificate 0 -->
                    <div class="cbp-item language">
                        <a href="/static/images/certificates/10.png" class="cbp-lightbox">
                            <figure>
                                <div class="icon">
                                    <i class="fa fa-picture-o" aria-hidden="true"></i>
                                </div>
                                <img src="/static/images/certificates/10.png" alt="">
                            </figure>
                        </a>
                        <figcaption>
                            <span class="title">German (B2)</span><br/>
                            <a target="_blank"
                               href="/German_B2"
                               class="external-link show-credential-button">Download</a>
                        </figcaption>
                    </div>
                </div>
            </section>
        </div>

        <!-- Contact Page
        ================================================== -->
        <div id="contact">
            <div class="row">
                <!-- Contact Form -->
                <section class="contact-form col-md-6 padding_30 padbot_45">
                    <div class="section-title top_15 bottom_30">
                        <span></span>
                        <h2>Contact Form</h2>
                    </div>
                    <form class="site-form" method="post" action="{{ url_for('submit_form') }}">
                        <div class="row">
                            <div class="col-md-6">
                                <input class="site-input" placeholder="Name" name="name">
                            </div>
                            <div class="col-md-6">
                                <input class="site-input" placeholder="E-mail" name="email">
                            </div>
                            <div class="col-md-12">
                                <textarea class="site-area" placeholder="Message" name="message"></textarea>
                            </div>
                            <div class="col-md-12 top_15 bottom_30">
                                <button class="site-btn" type="submit">Submit</button>
                            </div>
                        </div>
                    </form>
                </section>
                <!-- Contact Informations -->
                <section class="contact-info col-md-6 padding_30 padbot_45">
                    <div class="section-title top_15 bottom_30"><span></span>
                        <h2>Contact Informations</h2></div>
                    <ul>
                        <li><span>Location:</span> 47805 Krefeld, Germany</li>
                        <li><span>Phone (DE):</span> +49-176-271-69632</li>
                        <li><span>Phone (UA):</span> +38-097-296-4484</li>
                        <li><span>E-mail:</span> haldaniko@gmail.com</li>
                        <li><span>Telegram:</span><a href="https://t.me/Haldwork"> @Haldwork</a></li>
                        <li>
                            <div class="social-icons top_15">
                                <a target="_blank" class="fb"
                                   href="https://www.facebook.com/haldaniko/"><i class="fa fa-facebook"
                                                                                 aria-hidden="true"></i></a>
                                <a target="_blank" class="telegram" href="https://t.me/Haldwork"><i
                                        class="fa fa-telegram" aria-hidden="true"></i></a>
                                <a target="_blank" class="github" href="https://github.com/haldaniko"><i
                                        class="fa fa-github" aria-hidden="true"></i></a>
                                <a target="_blank" class="linkedin"
                                   href="https://www.linkedin.com/in/haldaniko/"><i
                                        class="fa fa-linkedin" aria-hidden="true"></i></a>
                            </div>
                        </li>
                    </ul>
                </section>
                <!-- Contact Map -->
                <section class="contact-map col-md-12 top_15 bottom_15">
                    <div class="section-title bottom_30"><span></span>
                        <h2>Contact Map.</h2></div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d159496.32570284107!2d6.42692840118682!3d51.34551844539271!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47b8baab475e5359%3A0x2fa2b9edc6d18857!2sKrefeld!5e0!3m2!1sde!2sde!4v1699369371848!5m2!1sde!2sde"
                            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                </section>
            </div>
        </div>

    </div><!-- Content - End -->
</div>
{% endblock %}